asgiref==3.5.2
asn1crypto==1.4.0
attrs==21.4.0
backports.zoneinfo==0.2.1
base45==0.4.3
cbor2==5.4.2
certvalidator==0.11.1
cffi==1.15.0
colorama==0.4.4
cose==0.9.dev8
cryptography==36.0.1
distlib==0.3.4
Django==4.0.6
django-ckeditor==6.5.0
django-js-asset==2.0.0
ecdsa==0.17.0
eth-hash==0.3.2
eth-typing==2.3.0
filelock==3.4.2
flynn==1.0.0b2
hexbytes==0.2.2
mpmath==1.2.1
netaddr==0.8.0
numpy==1.20.1
oscrypto==1.2.1
parsimonious==0.8.1
Pillow==8.1.2
platformdirs==2.4.1
pycparser==2.21
pycryptodome==3.14.0
pyo==1.0.3
pywin32==303
qrcode==7.3.1
six==1.15.0
sqlparse==0.4.2
sympy==1.9
toolz==0.11.2
tzdata==2022.1
varint==1.0.2
virtualenv==20.13.0
websockets==9.1
wxPython==4.1.1