asgiref==3.5.2
asn1crypto==1.4.0
backports.zoneinfo==0.2.1
distlib==0.3.4
Django==4.0.7
flynn==1.0.0b2
mpmath==1.2.1
netaddr==0.8.0
pyo==1.0.3
pywin32==303
six==1.15.0
sqlparse==0.4.2
sympy==1.9
toolz==0.11.2
tzdata==2022.1
varint==1.0.2
websockets==9.1

